<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col>
      <ion-select [(ngModel)]="choice.governorate_id">
        <ion-option *ngFor="let governorate of governorates" [value]="governorate.id">{{governorate.name}}
        </ion-option>
      </ion-select>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-select [(ngModel)]="choice.specialty_id">
        <ion-option *ngFor="let specialty of specialties" [value]="specialty.id">{{specialty.name}}
        </ion-option>
      </ion-select>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <button ion-button type="submit" (click)="goToHospitals()">Find Hospitals</button>
    </ion-col>
  </ion-row>
</ion-content>
